---
import { Image } from "astro:assets";
import ctaImage from "../assets/coffeCup.webp";
import laptop from "../assets/laptop.webp";
---

<section class="w-full flex-1">
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="w-full flex justify-center">
        <div class="max-w-screen-lg mb-8 lg:mb-16 w-full text-center">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            Diseño Web a Medida para Tu Transformación Digital
          </h2>
          <p class="text-gray-500 sm:text-xl dark:text-gray-400">
            En el panorama digital actual, todas las empresas buscan destacar y
            prosperar en línea. Sin embargo, a menudo se enfrentan a desafíos
            que pueden obstaculizar su éxito. En [Tu Nombre de Empresa], nos
            especializamos en superar estos obstáculos. Te invitamos a explorar
            cómo nuestras soluciones de diseño web personalizado pueden impulsar
            tu presencia en línea y ayudarte a alcanzar tus objetivos
            empresariales
          </p>
        </div>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        <div
          class="flex flex-col items-center text-center p-4 bg-slate-200 rounded-md border shadow"
        >
          <div
            class="flex justify-center items-center w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <svg
              class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Experiencia del usuario deficiente
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Los sitios web difíciles de navegar, lentos o que no funcionan
            correctamente pueden frustrar a los visitantes y ahuyentar a los
            clientes potenciales.
          </p>
        </div>
        <div
          class="flex flex-col items-center text-center p-4 bg-slate-200 rounded-md border shadow"
        >
          <div
            class="flex justify-center items-center w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <svg
              class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Problemas de compatibilidad móvil
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Con el aumento del tráfico desde dispositivos móviles, las empresas
            pueden tener sitios web que no se ven ni funcionan bien en
            smartphones y tablets
          </p>
        </div>
        <div
          class="flex flex-col items-center bg-slate-200 text-center p-4 rounded-md border shadow"
        >
          <div
            class="flex justify-center items-center w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <svg
              class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
              <path
                d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
              ></path>
            </svg>
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">
            Competencia en línea
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Las empresas pueden sentir la presión de competidores que tienen
            sitios web más atractivos y funcionales, lo que afecta su capacidad
            para retener clientes y ganar nuevos
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Nuestros Servicios
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
          Somos expertos en los siguientes servicios
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        <article
          class="lg:h-96 h-64 relative flex justify-center pt-6 px-0 pb-0 overflow-hidden bg-black rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="w-full absolute z-0">
            <Image class="w-1/2 mx-auto" format="avif" src={ctaImage} alt="dashboard image" />
          </div>
          <div
            class="h-full w-full flex items-end justify-center text-3xl px-3 text-center pb-7 z-10 text-white font-extrabold"
          >
            <h3>Creacion y Modificacion de Identidad de Marca</h3>
          </div>
        </article>
        <article
          class="lg:h-96 h-64 relative flex justify-center pt-6 px-0 pb-0 overflow-hidden bg-black rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="w-full h-full flex lg:-top-10
           justify-center items-center absolute z-0">
            <Image class="w-2/3 mx-auto" format="avif" src={laptop} alt="dashboard image" />
          </div>
          <div
            class="h-full w-full flex items-end justify-center text-3xl px-3 text-center pb-7 z-10 text-white font-extrabold"
          >
            <h3>Creacion de Website y aplicaciones web</h3>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="capitalize mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          ultimos Proyectos
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
          Somos expertos en los siguientes servicios
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        <article
          class="h-96 p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
        >
        </article>
        <article
          class="h-96 p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
        >
        </article>
      </div>
    </div>
  </section>
</section>
